## Gender Classification Of Names
### Using Machine Learning To Detect/Predict Gender of Individuals
+ Sklearn
+ Pandas
+ Text Extraction

In [ ]:
# EDA packages
import pandas as pd
import numpy as np

In [ ]:
# ML Packages
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# Load our data
df = pd.read_csv('/content/names_dataset.csv')

In [ ]:
df.head()

   index       name sex
0      0       Mary   F
1      1       Anna   F
2      2       Emma   F
3      3  Elizabeth   F
4      4     Minnie   F

In [ ]:
# Replacing All F and M with 0 and 1 respectively
df.sex.replace({'F':0,'M':1},inplace=True)

In [ ]:
Xfeatures =df['name']

In [ ]:
# Feature Extraction
count_vec = CountVectorizer()
X = count_vec.fit_transform(Xfeatures)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Features
X
# Labels
y = df.sex

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
# Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB
md = MultinomialNB()
md.fit(X_train,y_train)

MultinomialNB()

### Sample Prediction

In [ ]:
# Sample1 Prediction
name1 = ["Mary"]
vect1 = count_vec.transform(name1).toarray()

In [ ]:
if md.predict(vect1) == 0:
    print("Female")
else:
    print("Male")

Female

In [ ]:
# Sample2 Prediction
name2 = ["Mark"]
vect2 = count_vec.transform(name2).toarray()

In [ ]:
if md.predict(vect2) == 0:
    print("Female")
else:
    print("Male")

Male

### Saving Our Model

In [ ]:
import joblib

##### Save Multinomial NB Model

In [ ]:
FinalModel = open("gender_classification_model.pkl","wb")

In [ ]:
joblib.dump(md,FinalModel)

In [ ]:
FinalModel.close()

In [ ]:
FinalVectorizer = open ("gender_model_vectorizer.pkl", "wb")

In [ ]:
joblib.dump(count_vec,FinalVectorizer)

In [ ]:
FinalVectorizer.close()